<div class="dnd5e chat-card weapon-card" data-actor-id="{{actor._id}}" data-item-id="{{item.id}}">
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    <div class="card-content">{{{data.description.value}}}</div>

    <div class="card-buttons">
        {{#if data.hasCharges}}
        <button data-action="consume">Use {{data.consumableType.str}}</button>
        {{else}}
        <button disabled>No Charges</button>
        {{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
