<div class="primary-attributes">
    <div class="attribute">
        <h4 class="attribute-name">Health</h4>
        <div class="attribute-value">
            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                   data-dtype="{{data.attributes.hp.type}}" placeholder="10"/>
            <span class="flex0"> / </span>
            <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                   data-dtype="{{data.attributes.hp.type}}" placeholder="10"/>
        </div>
        <footer class="attribute-footer">
            <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+Temp"
                   value="{{data.attributes.hp.temp}}" data-dtype="{{data.attributes.hp.type}}"/>
            <input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+Max"
                   value="{{data.attributes.hp.tempmax}}" data-dtype="{{data.attributes.hp.type}}"/>
        </footer>
    </div>

    <div class="attribute">
        <h4 class="attribute-name">Armor Class</h4>
        <div class="attribute-value">
            <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                   data-dtype="{{data.attributes.ac.type}}" placeholder="10"/>
        </div>
        <footer class="attribute-footer">
            <span>Base AC {{data.attributes.ac.min}}</span>
        </footer>
    </div>

    <div class="attribute">
        <h4 class="attribute-name">Proficiency</h4>
        <div class="attribute-value">
            <span>{{numberFormat data.attributes.prof.value decimals=0 sign=true}}</span>
        </div>
        <footer class="attribute-footer">
            <span>Spell DC {{data.attributes.spelldc.value}}</span>
        </footer>
    </div>

    <div class="attribute">
        <h4 class="attribute-name">Initiative</h4>
        <div class="attribute-value">
            <span>{{numberFormat data.attributes.init.mod decimals=0 sign=true}}</span>
        </div>
        <footer class="attribute-footer">
            <span>Modifier</span>
            <input name="data.attributes.init.value" type="text" placeholder="0"
                   data-dtype="{{data.attributes.init.type}}"
                   value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
        </footer>
    </div>
</div>