<form class="{{cssClass}}" autocomplete="off">

    <!-- HEADER -->
    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
        </h1>

        <div class="charlevel">
            <div class="level">
                <label>CR</label>
                <input name="data.details.cr.value" type="text" value="{{data.details.cr.str}}"
                       data-dtype="Number" placeholder="1"/>
            </div>
            <div class="experience">
                <span>{{data.details.xp.value}} XP</span>
            </div>
        </div>
    </header>

    <!-- BODY -->
    <section class="sheet-body">

        <!-- DETAILS -->
        <ul class="details">
            <li class="character-detail">
                <input type="text" name="data.traits.size.value" data-dtype="{{data.traits.size.type}}"
                       value="{{data.traits.size.value}}" placeholder="Medium"/>
            </li>
            <li class="character-detail">
                <input name="data.details.type.value" type="text" value="{{data.details.type.value}}" placeholder="Type"/>
            </li>
            <li class="character-detail">
                <input name="data.details.source.value" type="text" value="{{data.details.source.value}}" placeholder="Source"/>
            </li>
            <li class="character-detail">
                <input name="data.details.alignment.value" type="text" value="{{data.details.alignment.value}}" placeholder="Alignment"/>
            </li>
        </ul>

        <!-- ATTRIBUTES -->
        <div class="primary-attributes">
            <div class="attribute">
                <h4 class="attribute-name">
                    Health
                    <a class="npc-roll-hp" title="Roll Health"><i class="fas fa-dice-d20"></i></a>
                </h4>
                <div class="attribute-value">
                    <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                           data-dtype="{{data.attributes.hp.type}}" placeholder="10"/>
                    <span class="flex0"> / </span>
                    <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                           data-dtype="{{data.attributes.hp.type}}" placeholder="10"/>
                </div>
                <footer class="attribute-footer">
                    <input name="data.attributes.hp.formula" class="hpformula" type="text" placeholder="Formula"
                           value="{{data.attributes.hp.formula}}"/>
                </footer>
            </div>

            <div class="attribute">
                <h4 class="attribute-name">Armor Class</h4>
                <div class="attribute-value">
                    <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                           data-dtype="{{data.attributes.ac.type}}" placeholder="10"/>
                </div>
                <footer class="attribute-footer">
                    <span>Spell DC {{data.attributes.spelldc.value}}</span>
                </footer>
            </div>

            <div class="attribute">
                <h4 class="attribute-name">Proficiency</h4>
                <div class="attribute-value">
                    <span>{{numberFormat data.attributes.prof.value decimals=0 sign=true}}</span>
                </div>
                <footer class="attribute-footer">
                    <span>Initiative</span>
                    <input name="data.attributes.init.value" type="text" placeholder="0"
                           data-dtype="{{data.attributes.init.type}}"
                           value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
                </footer>
            </div>

            <div class="attribute">
                <h4 class="attribute-name">Speed</h4>
                <div class="attribute-value">
                    <span class="flex0">  </span>
                    <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}"
                           data-dtype="{{data.attributes.speed.type}}" placeholder="0"/>
                </div>
                <footer class="attribute-footer">
                    <input type="text" class="speed" name="data.attributes.speed.special" placeholder="Swim / Fly"
                           data-dtype="{{data.attributes.speed.type}}" value="{{data.attributes.speed.special}}"/>
                </footer>
            </div>
        </div>

        <!-- STATUS EFFECTS -->
        <div class="statuses">
            <div class="status legendary">
                <h4>Legendary Actions</h4>
                <div class="status-value">
                    <input type="text" name="data.resources.legact.value" data-dtype="Number" placeholder="0"
                           value="{{data.resources.legact.value}}"/>
                </div>
            </div>
            <div class="status legendary">
                <h4>Legendary Res.</h4>
                <div class="status-value">
                    <input type="text" name="data.resources.legres.value" data-dtype="Number" placeholder="0"
                           value="{{data.resources.legres.value}}"/>
                </div>
            </div>
            <div class="status lair">
                <h4>Lair Action</h4>
                <div class="status-value">
                    <input type="checkbox" name="data.resources.lair.value" data-dtype="Boolean"
                           {{checked data.resources.lair.value}}/>
                </div>
            </div>
        </div>

        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="features">Features</a>
            <a class="item" data-tab="spellbook">Spellbook</a>
            <a class="item active" data-tab="biography">Biography</a>
        </nav>

        <!-- FEATURES -->
        <div class="tab features" data-group="primary" data-tab="features">
            <ol class="inventory-list directory-list">
            {{#each actor.features as |section sid|}}
                <li class="item inventory-header">
                    <h3 class="item-name">{{section.label}}</h3>
                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Item" data-type="{{section.type}}">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                    {{/if}}
                </li>

                {{#each section.items as |item iid|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name rollable">
                        <div class="item-image" style="background-image: url({{item.img}})"></div>
                        <h4>{{item.name}}</h4>
                    </div>
                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{/each}}
            </ol>
        </div>

        <!-- SPELLBOOK -->
        <div class="tab spellbook" data-group="primary" data-tab="spellbook">
            <div class="form-group spellcasting-ability">
                <label><h3>Spellcasting Ability</h3></label>
                <select name="data.attributes.spellcasting.value" data-type="String">
                    {{#select data.attributes.spellcasting.value}}
                    <option value="">None</option>
                    {{#each data.abilities as |abl a|}}
                    <option value="{{a}}">{{abl.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <ol class="inventory-list directory-list">
            {{#each actor.spellbook as |section lvl|}}
                <li class="item inventory-header spellbook-header">
                    <div class="item-name flexrow">
                        <h3>{{section.label}}</h3>

                        {{#unless section.isCantrip}}
                        <span class="spell-slots">
                            <input type="text" name="data.spells.spell{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                        </span>
                        <span class="flex0"> / </span>
                        <span class="spell-max">
                            <input type="text" name="data.spells.spell{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                        </span>
                        {{else}}
                        <span class="spell-slots">&infin;</span>
                        <span class="flex0"> / </span>
                        <span class="spell-max">&infin;</span>
                        {{/unless}}
                    </div>

                    <div class="spell-school">School</div>
                    <div class="spell-action">Action</div>

                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Spell" data-type="spell"
                           data-level="{{lvl}}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>

                {{#each section.spells as |item i|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name rollable">
                        <div class="item-image" style="background-image: url({{item.img}})"></div>
                        <h4>{{item.name}}</h4>
                    </div>

                    <div class="spell-school">{{item.data.school.str}}</div>
                    <div class="spell-action">{{item.data.time.value}}</div>

                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{else}}
                <li class="item inventory-header spellbook-header spellbook-empty">
                    {{#if owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Spell" data-type="spell"
                           data-level="{{lvl}}"><i class="fas fa-plus"></i> Add Spell</a>
                    </div>
                    {{/if}}
                </li>
            {{/each}}
            </ol>
       </div>

        <!-- BIOGRAPHY -->
        <div class="tab biography" data-group="primary" data-tab="biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true}}
        </div>
    </section>

    <!-- SIDEBAR -->
    <section class="sheet-sidebar">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img"/>

        <nav class="sheet-tabs tabs" data-group="sidebar">
            <a class="item active" data-tab="abilities">Abilities</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="traits">Traits</a>
        </nav>

        <!-- ABILITY SCORES -->
        <div class="tab abilities" data-group="sidebar" data-tab="abilities">
            {{> public/systems/dnd5e/templates/actors/actor-abilities.html}}
        </div>

        <!-- SKILLS -->
        <div class="tab skills" data-group="sidebar" data-tab="skills">
            {{> public/systems/dnd5e/templates/actors/actor-skills.html}}
        </div>

        <!-- TRAITS -->
        <div class="tab traits" data-group="sidebar" data-tab="traits">
            {{> public/systems/dnd5e/templates/actors/actor-traits.html}}
        </div>
    </section>
</form>
